#mapComponent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #frugalmap {
    height: 70vh;
    width: 70vw;
  }