#appBody {
  display: flex;
    min-height: 100vh;
}
#appNav {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  padding: 10px 0;
  margin-right: 30px;
}
#appNav a {
  text-decoration: none;
  color: black;
  margin: 15px;
}
#appNav a:hover {
 color: white;
 scale: 1.10;
}

