#listBody{
  min-height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#listForm{
  display: flex;
  flex-direction: column;
}
.listInputs{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td, th {
    border: 1px solid black;
}